.progressclass{overflow:hidden;}
.batterydiv{}
.vertical-center{margin-top: -15px;}
.vertical-center .row {
  align-items: center;
}
.battery {
float:right;
  display: table;
  border: 3px solid #222;
  padding: 5px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.battery:after {
  content: "";
  display: block;
  width: 7px;
  height: 15px;
  background: #222;
  position: absolute;
  right: -7px;
}
.battery .battery_item {
  display: block;
  width: 15px;
  height: 15px;
  float: left;
  background-color: #222;
  filter: alpha(opacity=0);
  opacity: 0;
  animation: _fade 0.5s 2s infinite alternate forwards;
}
.battery .battery_item:not(:last-child) {
  margin-right: 5px;
}
.battery .battery_item:first-child {
  animation-delay: 0.2s;
}
.battery .battery_item:nth-child(2) {
  animation-delay: 0.4s;
}
.battery .battery_item:last-child {
  animation-delay: 0.6s;
}
@keyframes _fade {
  from {
    filter: alpha(opacity=0);
    opacity: 0;
  }
  to {
    filter: alpha(opacity=100);
    opacity: 1;
  }
}

